/* Paramètres généraux */

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
	background-color: #DFDFDF;
	align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

hr, .separation  {
    margin-top: 2em;
    margin-bottom: 2em;
}

main > article {
    width: 65%;
}

main > aside {
    width: 30%;
}


/* page de proposition */
.simple > h2 {
    border: black solid 2px;
}

.simple > p > a {
    color: black;
}

.gras_souligne {
    text-decoration: underline;
}

.align-droite {
    text-align: right;
}

.grise {
    background-color: lightgray;
}

.vide {
    border: none;
}

/* rappel dans les propositions*/
.rappel {
    column-count: 2;
}

.rappel > b {
    text-decoration: underline;
}

/*Tableau calendrier*/
.simple > table {
    border-collapse: collapse;
}

td, th{
    width: 1em;
    border: solid 1px black;
    padding: 10px;
}

th.helsinki{
    background-color:hsl(20, 70%, 70%)
}

td.helsinki{
    background-color:hsl(20, 60%, 90%)
}

th.espoo {
    background-color:hsl(150, 70%, 70%)
}

td.espoo {
    background-color:hsl(150, 60%, 90%)
}

th.vantaa {
    background-color:hsl(200, 70%, 70%)
}

td.vantaa {
    background-color:hsl(200, 60%, 90%)
}

/* Changement de la taille du commentaire dans les formulaires */
form > p {
    font-size: 0.7em;
    font-style: italic;
}

main > aside > form > textarea {
    min-width: 400px;
    min-height: 50px;
    max-width: 400px; 
    max-height: 300px;
}

/* Configuration formulaire de la page demande */
main > article > form {
    font-size: 1.5em;
}

main > article > form > input {
    height: 2em;
    width: 15em;
    margin-top: 1em;
}

main > article > form > textarea {
    height: 5em;
    width: 35em;
}

/* Configuration formulaire de la page contact */
.simple > form {
    font-size: 1em;
}

.simple > form > input {
    height: 2em;
    width: 15em;
    margin-top: 1em;
}

.simple > form > textarea {
    height: 5em;
    width: 35em;
}

/* Configuration des pages avec un seul objet (1 colonne et non 2) */
.simple {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Lien dans proposition */
.boutton {
    background-color: #ececec;
    max-inline-size: 35em;
	padding: 1em;
    border-radius: 0.5em;
    margin: 2px;
    white-space: nowrap;
    display: block;
}

main > article > a  {
    text-decoration: none;
    color: black;
}

main > article > a > h2 {
    font-size: 1.5vmax;
}

main > article > a > p {
    font-size: 0.90vmax;
} 

main > article > a:hover {
    background-color: rgb(105,4,59);
    font-weight: bold;
    color: white;
}

/* sticky footer */

html, body {
    height: 100%;
    margin-top: auto
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    
}
  
footer {
    flex-shrink: 0;
}

/* end sticky footer */


/* responsive */
header > img {
    width: 10%;
    object-fit: cover;
    object-position: bottom;
    margin: 1em;
    max-height: 100%;
}

header > h1 {
    font-size: 1.5em;
}

@media screen and (max-width: 600px) {
    header > h1 {
        font-size: 100%;
    }
    header > img {
        width: 20%;
    }
}

header {
    white-space: normal;
}
/* end responsive */

footer {
    display: flex;
	background-color: #DFDFDF;
	justify-content: space-between;
    padding: 5px;
    margin-top: 1em;
}

footer > p > a {
    color: black;
    text-decoration: none;
}

footer > p > a:hover {
    color: rgb(105,4,59);
	font-weight: bold;
    text-decoration: underline;
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
}

nav > ul > li:hover, nav > ul > li:hover > a {
    color: white;
	font-weight: bold;
	background-color: rgb(105,4,59);
}

nav > ul > li {
	background-color: #ececec;
	padding: 0.5em;
    border-radius: 0.5em;
    list-style: none;
    margin: 2px;
    white-space: nowrap;
}

nav > ul {
    display: flex;
	justify-content: space-around;
}
/* nav responsive */
nav {
    position: absolute;
    right: 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin: 20px;
}
@media screen and (max-width: 850px) {
    nav {
        padding-top: 10%;
        font-size: 85%;
        margin-right: 5px;
    }
    main > h1 {
        margin-top: 30px;
    }
}

/* end nav responsive */